<footer class="footer mt-auto py-3 bg-body-tertiary">
  <div class="container">
    <p class="text-muted text-center">Pro všechny HAM adepty vytvořil a spravuje 
      <a href="https://melik.cz/about/#contact-me" target="_blank">Filip&nbsp;OK1GOD</a> ♥️
    </p>
    <p class="text-muted text-center">Tenhle web je open source. 
      <a href="https://github.com/filipmelik/hamotazky" target="_blank">Github</a>
      <img class="bi me-2" src="/assets/img/github.svg" alt="github logo" width="15" />
    </p>
  </div>
</footer>